APP_NAME=weather-api-fastapi
LOG_LEVEL=INFO

OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1
OPEN_METEO_GEOCODING_BASE_URL=https://geocoding-api.open-meteo.com/v1
HTTP_TIMEOUT_SECONDS=10
DATABASE_URL=postgresql+asyncpg://weather:weather@127.0.0.1:5434/weather
UI_THEME=orange
